
/* Make the page centered */
body {
  margin: 0;
  padding: 0;
  background: #d6b7d6;
  font-family: "Press Start 2P", system-ui, sans-serif;
}

/* the gba background */
.arcade {
  position: relative;
  margin: 0 auto;
  width: min(90vw, 1400px);
  /* size */
  aspect-ratio: 750 / 689;
  /* matches image proportions */

  background-image: url("../assets/menu/arcade-bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* The screen area */
.screen {
  position: absolute;

  top: 16%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 58%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #0000;
  border-radius: 6px;
  padding: 10px;
  
    overflow: visible;
}
.arcade-title {
  color: #ffffff;
  font-size: clamp(32px, 6vw, 64px);
  text-align: center;
  line-height: 1.3;
  text-shadow: 4px 4px #000000;
  margin-bottom: 50px;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 100%;
  align-items: center;
}

.menu-buttons button {
  width: 65%;
  padding: clamp(10px, 1.4vw, 18px) 0;
  border: 2px solid #000000;
  border-radius: 6px;
  background: #ffffff;
  font-family: inherit;
  font-size: clamp(16px, 2.5vw, 25px);
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
}

.menu-buttons button:hover {
  background: #fbabbb;
  box-shadow: 0 6px 0 #000;
  transform: translateY(-2px);
}


/* Center p5.js canvases on game pages */
canvas {
  display: block;
  margin: 0 auto;
  /* horizontally centered */
}

.back-button {
  position: fixed;
  /* overlay at top */
  top: 16px;
  /* distance from top of window */
  left: 12px;
  /* distance from left of window */

  padding: 8px 16px;
  background: #ffffff;
  /* same pink as hover */
  color: #000;
  text-decoration: none;
  border: 2px solid #000;
  border-radius: 6px;
  font-size: 12px;
  font-family: "Press Start 2P", system-ui, sans-serif;

  display: inline-block;
  z-index: 10;
  /* keep it above the canvas */
}

.screen canvas {
  display: block;
  width: 100%;
  height: auto;
}